@font-face
{
    font-family: 'Raleway';
    src: url('font/Raleway/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

header
{
    border: 1px solid black;
    align-content: center;
}

#logo img
{
    border: 2px solid red;
    width: 116px;
    height: 54px;
    margin-top: 5px;
}


  
body
{
    display: flex;
    /* width: 1000px; */
    flex-direction: column;
    font-family: 'Raleway', 'Arial';
    font-weight: normal;
    /* border: 2px solid chartreuse; */
    margin: auto;
}




/* Navigation */

nav
{
    display: flex;

    /* flex-direction: column; */
    align-content: flex-start;
    border: 2px solid yellow;
}

nav ul
{
    list-style-type: none;
    padding-top: 0px;
    display: flex;
    height: 54px;
    border: 2px solid red;   
    padding-left: 15px;

}

nav li
{
    margin-right: 15px;
    display: flex;
}


nav a
{
    border: 1px solid black;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    vertical-align: middle;
    text-align: center;

}

nav li:hover
{
    color: #0065FC;
    /* font-size: 1.4em; */
    border-top: 3px solid #0065FC;
}

section
{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 10px;
    /* flex: 1; */
    /* border: 2px solid violet; */
}

article
{
    background-color: #d4d1d1;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
}

/* button
{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1em;
    height: 30px;
    margin-right: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
} */

footer
{
    display: flex;
    margin-bottom: 0px;
    border: 2px solid orange;
}

.titre
{
    font-size: 20px;
    font-weight: bold;
}

#conteneur
{
    display: flex;
    
    /* border: 2px solid blue; */

    justify-content: space-between;
    /* margin: auto; */
    padding-right: 120px;
}



#block-content
{
    font-family: 'Raleway', serif;
    padding: 10px;
    /* margin: auto; */
    /* display: flex; */
    /* border: 2px solid red; */
}

#login
{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    /* border: 2px solid red; */
}

#login a
{
    /* display: flex; */
    font-size: 1.2em;
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;

}

/* #section_titre
{
    border: 1px solid red;
} */

#section h1
{
    size: 0.8em;
}

#recherche_ville
{
    display: flex;
    /* align-items: baseline; */
    padding-top: 15px;
    padding-left: 20px;
    /* border: 2px solid blue; */
}

#recherche_ville input
{
    padding: 0px;
    padding-left:10px;
    font-size: 1em;
    height: 40px;
    font-weight: bold;
    /* justify-items: center; */
    /* text-align: center; */
    border: none;
} 

#recherche_ville button
{
    background-color: #0065FC;
    /* display: flex; */
    /* align-content: center; */
    height: 40px;
    color: white;
    border-color: #0065FC;
    box-shadow: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#recherche_ville i
{
    /* size: 3em; */
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    padding-right: 10px;
}

#filtres
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
}


#filtres label
{
    margin-right: 15px;
    font-weight: bold;
}

#btn_economique, #btn_familial, #btn_romantique, #btn_animaux
{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

#btn_economique button, #btn_familial button, #btn_romantique button, #btn_animaux button
{
    
    padding-left: 25px;
    padding-right: 15px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1em;
    height: 40px;
    margin-right: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border-radius: 15px; */
    
}

#icon_eco, #icon_fam, #icon_rom, #icon_ani
{
    color: #0065FC;
    margin: auto;
    /* position: relative;
    left: 5px;
    top: 5px; */
}

#view_cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    /* align-content: space-between; */
    /* justify-items: center; */
}

.circle
{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #DEEBFF;
    border-radius: 20px;
    margin: auto;
    position: relative;
    left: 15px;
}

.card
{
    position: relative;
    width: 246px;
    height: 197px;
    border-radius: 20px;
    /* border: 1px solid black; */
    padding-bottom: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.photo
{   
    display: flex;
    margin: 5px;
    width: 236px;
    height: 100%;
    border-radius: 15px;
}



.conteneur_details
{
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    padding: 5px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.titre_image, .detail_image, .stars
{
    padding-left: 10px;
}

.titre_image
{
    
    font-weight: bold;
    margin-bottom: 5px;
}


.stars
{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.star_blue
{
    color: #0065FC;
    margin-right: 3px;
}

.star_gray
{
    color: #D9D9D9;
    margin-right: 3px;
}



@media all and (max-width: 700px)
{
    #conteneur
    {
        /* flex-wrap: wrap; */
        flex-direction: column;
        padding-right: 0px;

        /* width: auto;
        margin: auto;
        padding-right: 0px; */
        justify-content: flex-end;
        /* justify-content: stretch; */
    }

    nav
    {
        /* display: flex; */
        /* flex: auto; */
        /* width: auto; */
        justify-content: center;
        /* justify-content: space-evenly; */


        
    }

    nav ul
    {
        justify-content: space-around;
    }

    nav li
    {
        margin: 5px;
        
    }

    

}